# main binary
/emu8tor

bin/
# Binaries and build artifacts for various platforms
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary from go test -c
*.test

# air tmp directory
tmp/

# Output of coverage tool
*.out

# Go workspace file
go.work

# logs
log/
